{% extends "base.html.twig" %}

{% block body %}
	<br>

	<h5>

	<center style="color:#00BA25; font-weight: bold;">
		{% for message in app.flashes('success') %}
			<p>{{ message }}</p>
		{% endfor %}
	</center>

	</h5>
	
	<div class="container d-flex flex-wrap ">
		{% for list in lists %}
			<div class="card m-2 border-secondary" style="width: 18rem;">
				<div class="card-body " >

{% set count = 0 %}
	{% for task in list.tasks %}
		{% if task.completed == 1 %}
			{% set count = count + 1 %}
		{% endif %}
{% endfor %}

				<h5 class="card-title" style="color: {{ list.color }}; text-align:center;">{{ list.name }} {{ count }}/{{ list.tasks|length }}</h5>
					
					<hr style="height: 1px;">
					<a href="/create-task/{{ list.id }}" style="color: {{ list.color }};">
						<i class="fas fa-plus">
							Ajouter une tâche</i>
					</a><br>
					<br>


					{% for task in list.tasks %}
						<p
							class="card-text">
							<a style="text-decoration:none; color: {{ list.color }};" href="/update-task-status/{{task.id}}" class="js-status">

								{% if task.completed %}

									<i class="fas fa-square"></i>

								{% else %}

									<i class="far fa-square"></i>

								{% endif %}

							</a>

							{{task.title}} 
							<a href="/update-task/{{ task.id }}" style="text-decoration:none; color: {{ list.color }};">
								<i class="fas fa-edit"></i>
							</a>
							<a href="/delete-task/{{ task.id }}" style="text-decoration:none; color: {{ list.color }};">
								<i class="fas fa-trash"></i>
							</a>
						</p>


					{% endfor %}


				</p>
			</div>
            
			<blockquote class="blockquote mb-2">

				<center>
					<a href="/update-list/{{ list.id }}" class="btn btn-outline-warning">
						Modifier
					</a>
					<a href="/delete-list/{{ list.id }}" class="btn btn-outline-danger">
						Supprimer
					</a>
				</center>
			</blockquote>
		</div>

	{% endfor %}
</div>
{% endblock %}

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
window.addEventListener("load", event => {
document.querySelectorAll("a.js-status").forEach(link => {
link.addEventListener("click", ##updateStatus);
});
});

function updateStatus(event) {
event.preventDefault();

const checkIcon = this.querySelector("i.fa-square");

axios.post(this.href).then(response => {
if (checkIcon.classList.contains("fas")) {
checkIcon.classList.replace("fas", "far");
} else {
checkIcon.classList.replace("far", "fas");
}
}).catch(error => {
console.error(error);
window.alert("Une erreur est survenue");
});
}

</script>{% endblock %}

